div img{
    width: 100%;
    height: 40%;
}
.gridContainer{
    background-color: white;
    display:grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px 150px 150px 150px 1fr;
    grid-template-rows: 150px 150px 150px 150px 150px 150px 150px 150px 150px  1fr;
    grid-template-areas:
    "foto petitSuite",
    "foto honeyMoon",
    "foto grandSuite";
}
.petitSuite{
    grid-area: foto petitSuite;
    grid-column: 1/9;
    grid-row: 1/3;  
    img{
        grid-column: 1/5;
        grid-row: 1/4;
        width: 60%;
        height: 100%;
        margin-top: 0%;
        margin-left: 25%;  
        border-radius: 5%;  
    }
    h1{
        color:grey;
        font-weight: bold;
        margin-left: 49%;
        font-size: 2rem;
        margin-top: 2%;
    }
    p{
        color:grey;
        font-weight: bold;
        margin-left: 29%;
        margin-top: 2%;
        font-size: 1rem;
      
    }
} 
.honeyMoon {
    grid-area:foto honeyMoon;
    grid-column: 1/9;
    grid-row: 4/6;
    img{
        grid-column: 1/5;
        grid-row: 5/6;
        width: 60%;
        height: 100%;
        margin-top: 0%;
        margin-left: 25%;  
        border-radius: 5%;
    }
    h2{
        color:grey;
        font-weight: bold;
        margin-left: 49%;
        font-size: 2rem;
    }
    p{
        color:grey;
        font-weight: bold;
        margin-left: 18%;
        margin-top: 2%;
        font-size: 1rem;
    }
}
.grandSuite{
    grid-area: foto grandSuite ;
    grid-column: 1/9;
    grid-row: 7/9;    
    img{
        grid-column: 2/7;
        grid-row: 7/8;
        width: 60%;
        height: 100%;
        margin-top: 0%;
        margin-left: 25%; 
        border-radius: 5%;
    }
    h3{
        color:grey;
        font-weight: bold;
        margin-left: 49%;
        font-size: 2rem;
    }
    p{
        color:grey;
        font-weight: bold;
        margin-left: 18%;
        margin-top: 2%;
        font-size: 1rem;
    }
}
/*responsive*/
@media (max-width: 576px){
    .gridContainer{
        background-color: white;
        display:grid;
        grid-template-columns: 150px 150px 150px 1fr;
        grid-template-rows: 150px 150px 150px 150px 150px 150px 1fr;
        grid-template-areas:
        "foto petitSuite",
        "foto honeyMoon",
        "foto grandSuite";
    }
    .petitSuite{
        grid-area: foto petitSuite;
        grid-column: 1/3;
        grid-row: 1/2;  
        img{
            grid-column: 1/5;
            grid-row: 1/4;
            width: 60%;
            height: 100%;
            margin-top: 0%;
            margin-left: 50%;  
            border-radius: 5%;  
        }
        h1{
            color:grey;
            font-weight: bold;
            margin-left: 75%;
            font-size: 0.5rem;
            margin-top: 5%;
        }
        p{
            color:grey;
            font-weight: bold;
            margin-left: 65%;
            margin-top: 6%;
            font-size: 0.5rem;    
    } 
}
}
    .honeyMoon {
        grid-area:foto honeyMoon;
        grid-column: 1/3;
        grid-row: 3/4;
        img{
            grid-column: 1/5;
            grid-row: 5/6;
            width: 60%;
            height: 100%;
            margin-top: 0%;
            margin-left: 50%;  
            border-radius: 5%;
        }
        h2{
            color:grey;
            font-weight: bold;
            margin-left: 75%;
            font-size: 0.5rem;
        }
        p{
            color:grey;
            font-weight: bold;
            margin-left: 65%;
            margin-top: 6%;
            font-size: 0.5rem;
        }
    }
    .grandSuite{
        grid-area: foto grandSuite ;
        grid-column: 1/3;
        grid-row: 5/6;  
        img{
            grid-column: 2/7;
            grid-row: 7/8;
            width: 60%;
            height: 100%;
            margin-top: 0%;
            margin-left: 50%; 
            border-radius: 5%;
        }
        h3{
            color:grey;
            font-weight: bold;
            margin-left: 75%;
            font-size: 0.5rem;
        }
        p{
            color:grey;
            font-weight: bold;
            margin-left: 65%;
            margin-top: 7%;
            font-size: 0.5rem;
        }    
    }
    
